 
$sidebarRight-navigation-button-background: rgba(17, 17, 17, 0.35);
$sidebarRight-navigation-button-color: #287339;
$sidebarRight-navigation-button-fill: #287339;
$sidebarRight-navigation-button-opacity: 50;

$sidebarRight-not-mobile-background-color: #F4F4F2;

$sidebarRight-not-mobile-navigation-button-color: #287339;
$sidebarRight-not-mobile-navigation-button-fill: #287339;
$sidebarRight-not-mobile-navigation-button-background: transparent;

$sidebarRight-not-mobile-navigation-button-hover-color: #FFF;
$sidebarRight-not-mobile-navigation-button-hover-fill: #FFF;
$sidebarRight-not-mobile-navigation-button-hover-background-color: #287339;

$sidebarRight-not-mobile-navigation-button-disabled-opacity: 1;
$sidebarRight-not-mobile-navigation-button-disabled-color: #E0E0E0;
$sidebarRight-not-mobile-navigation-button-disabled-fill: #E0E0E0;

$sidebarRight-not-mobile-navigation-button-disabled-hover-background-color: transparent;
$sidebarRight-not-mobile-navigation-button-disabled-hover-color: #E0E0E0;
