$elements-font-body : $basic-font-body;
$elements-font-size : $basic-font-size;
$elements-font-weight: $basic-font-weight;
$elements-monospace-font-body: $basic-monospace-font-body;
$elements-text-line-height: $basic-text-line-height;

$elements-header-font-body: $basic-header-font-body;
$elements-header-font-size: $basic-header-font-size;
$elements-header-font-weight: bold;
